body{
    background-color: #4b94dd;
}

body form{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    margin-top: 30px;
}

body ul div{
    margin: 10px 10px 10px 10px;
    background-color: rgb(127, 208, 255);
}

body ul div button{
    left: 0px;
}
.entrada{
    border: 1px solid #fafafa;
    border-radius: none;
    padding: 10px 10px 10px 10px;
}

.excluir{
    left: 0px;
    padding: 5px 5px 5px 5px;
    border: none;
    margin-left: 50px;
}

#submit{
    border: none;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
}